/* media queries start */
@media (max-width:1440px) {
    .avn-arrow-right{
        right:-65px;
    }
    .avn-arrow-left{
        left:-65px;
    }
}
@media (max-width:1366px) {

    .avo-industry .avn-industry-card h5 {
        font-size: 24px;
        line-height: 30px;
    }
    .avo-industry .avn-industry-card p {
        font-size: 18px;
        line-height: 24px;
    }
    .avo-industry .avn-industry-card .avn-card-detail a {
        bottom: -35px;
        width: 75%;
    }
    .avo-industry .avn-industry-card .avn-card-detail {
        height: 230px;
        padding: 20px 30px;
    }
    .avo-industry .avn-industry-card .thumbnail {
        height: 250px;
    }
    .current-trade-marketing-wrap h2 {
        margin-bottom: 30px;
    }
    .current-trade-marketing-wrap h2,
    .supporting-doc-wrap h2 {
        font-size: 42px;
        line-height: 42px;
    }
    .current-trade-marketing-wrap span,
    .supporting-doc-wrap span {
        font-size: 32px;
        line-height: 32px;
    }
    .sdb-col-right p {
        margin-bottom: 20px;
    }
    .current-trade-marketing-wrap ul li {
        font-size: 18px;
        line-height: 24px;
    }
    .current-trade-marketing-wrap strong,
    .current-trade-marketing-wrap p,
    .current-trade-marketing-wrap span {
        font-size: 21px;
        line-height: 27px;
    }
    .tabs-content-inner .cont h5 {
        font-size: 21px;
        line-height: 27px;
        min-height: 90px;
    }
    .tabs-content-inner .cont p {
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        color: var(--verdun-green);
    }
    .tabs-content-inner .cont .detail .download-btn {
        bottom: -35px;
        max-width: 200px;
    }
    .tabs-content-inner .cont {
        min-height: 460px;
    }
    .tabs-content-inner .cont .detail {
        min-height: 260px;
    }
    .stc-inner .events .stc-result .col-right p {
        font-size: 21px;
        line-height: 30px;
    }
}

@media (max-width:1200px) {
    .forget-pass-banner {
        height: calc(100vh - 122px);
    }
    .container {
        max-width: 960px;
    }
    header .header-inner {
        max-width: 720px;
    }
    header .logo {
        max-width: 120px;
    }
    header .avo {
        max-width: 350px;
    }
    .login-banner .banner-inner {
        max-width: 400px;
    }
    .container {
        padding: 0 25px;
    }
    .login-banner {
        padding: 140px 0 200px;
    }
    .category .category-menu form .form-group:first-child {
        max-width: 30%;
    }
    .category .category-menu form .form-group {
        max-width: 50%;
    }
    .category .category-menu .date,
    .category .category-menu .search,
    .category .category-menu .search::placeholder {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0;
    }
    .category-banner .detail-card .card-title {
        min-height: 100px;
    }
    .category-banner .detail-card .card-title h5 {
        font-size: 30px;
    }
    .category-banner .detail-card .thumbnail {
        height: 105px;
    }
    .category-banner .detail-card .card-title span {
        font-size: 18px;
        line-height: 24px;
    }
    .category-banner .detail-card .card-title span:after {
        background-size: cover;
        width: 45px;
        height: 6px;
    }
    .category-banner.banner p {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 50px;
        padding: 0 15px;
    }
    .category header .avo {
        max-width: 300px;
    }
    .avo-industry .avn-industry-card h5 {
        font-size: 21px;
        line-height: 27px;
    }
    .avo-industry .avn-industry-card p {
        font-size: 16px;
        line-height: 22px;
    }
    .avo-industry .avn-industry-card .avn-card-detail {
        height: 200px;
    }
    .avo-industry .avn-industry-card .thumbnail {
        height: 200px;
    }
    .trade-month-report-wrap-sec .trade-month-report {
        gap: 44px;
    }
    .trade-month-report-wrap-sec .trade-month-report-img {
        max-width: 33%;
        flex: 0 0 28%;
        min-height: 210px;
    }
    .tabs-content-inner {
        gap: 20px;
    }
    .tabs-content-inner .cont {
        max-width: 25%;
        flex: 0 0 23.4%;
    }
    .sdb-col-right p {
        font-size: 24px;
        line-height: 30px;
    }
    .current-trade-marketing-wrap,
    .tabs-content {
        padding: 50px 0;
    }
    .current-trade-marketing-wrap h2 {
        margin-bottom: 0;
    }
    .current-trade-marketing-wrap ul {
        padding-left: 0;
    }
    .ain-wrap .ain-inner {
        gap: 30px;
    }
    .ain-wrap .ain-card {
        flex: 0 0 30%;
    }
    .ain-wrap .ain-card p {
        font-size: 28px;
    }
    .report-wrap .report-inner {
        gap: 30px;
    }
    .report-wrap .report-card {
        flex: 0 0 31%;
    }
    .kit-wrap .kit-detail {
        gap: 30px;
    }
    .kit-wrap .kit-card {
        flex: 0 0 31%;
    }
    .kit-wrap .kit-card p {
        font-size: 28px;
    }
    .date-inner span {
        width: 30px;
    }
    .date-inner p {
        font-size: 21px;
        line-height: 30px;
    }
    .partner .partner-detail {
        gap: 30px;
    }
    .partner .partner-card {
        flex: 0 0 24%;
    }
    .stc-inner .stc-result h5 {
        font-size: 21px;
    }
    .stc-inner .stc-result span {
        font-size: 21px;
        margin-bottom: 10px;
    }
    .stc-inner .news .stc-result p .link {
        font-size: 18px;
        line-height: 24px;
        max-width: 970px;
    }
    .stc-inner .trade .stc-result a,
    .stc-inner .shopper-program .shopper-program-inner .spi-card {
        flex: 0 0 22%;
        height: 180px;
    }
    .stc-inner .trade .trade-inner,
    .stc-inner .shopper-program .shopper-program-inner {
        gap: 30px;
    }
    .stc-inner .shopper-program .shopper-program-inner .spi-card h3 {
        font-size: 21px;
        font-weight: 600;
        line-height: 24px;
    }
    .stc-inner .events .stc-result .col-right p {
        font-size: 18px;
        line-height: 24px;
    }
}

@media (max-width:991px) {
    header .header-inner {
        max-width: 600px;
    }
    header .logo {
        max-width: 100px;
    }
    header .avo {
        max-width: 300px;
    }
    header .line3 {
        height: 20px;
    }
    .forget-pass-banner {
        height: calc(100vh - 110px);
    }
    .banner h2 {
        font-size: 42px;
        line-height: 42px;
    }
    .forget-pass-banner h2 span {
        font-size: 32px;
        line-height: 32px;
    }
    .banner p {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 30px;
    }
    .login-banner .banner-inner {
        max-width: 335px;
    }
    .login-banner .forget-pass {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .login-banner .form-group2 {
        margin-bottom: 21px;
    }
    .login-banner .hand {
        left: 47%;
    }
    .banner .form-group input::placeholder {
        font-size: 14px;
    }
    .category-banner .detail-card .card-title h5 {
        font-size: 24px;
        line-height: 30px;
    }
    .category-banner .detail-card .card-title span {
        font-size: 13px;
        line-height: 13px;
    }
    .category-banner .detail-card .card-title span:after {
        width: 35px;
        height: 6px;
    }
    .category-banner .detail-card .thumbnail {
        height: 95px;
    }
    .category-banner .detail-card .card-title {
        min-height: 85px;
    }
    .category .category-menu form {
        flex-direction: column;
        gap: 20px;
        padding: 0;
    }
    .category .category-menu form .form-group {
        max-width: 336px !important;
    }
    .category .category-menu form input {
        padding: 0 15px;
    }
    .category .category-menu .category-btn {
        padding: 6.5px 55px;
    }
    .category .clmb {
        display: block;
    }
    .category .clb {
        display: none;
    }
    .avo-industry .avo-industry-detail {
        padding: 0;
    }
    .avo-industry .avn-industry-card .avn-card-detail {
        padding: 20px;
    }
    .avo-industry .avn-industry-card .avn-card-detail a {
        bottom: -20px;
        width: 80%;
    }
    .avn-arrow-left,
    .avn-arrow-right {
        display: none !important;
    }
    .trade-month-report-wrap .trade-month-report,
    .trade-month-report-wrap-sec .trade-month-report {
        gap: 30px;
    }
    .trade-month-report-wrap .trade-month-report-img,
    .trade-month-report-wrap-sec .trade-month-report-img {
        min-height: 160px;
        border-radius: 35px;
        flex: 0 0 30%;
    }
    .sdb-col-right p {
        font-size: 21px;
        line-height: 30px;
    }
    .tabs-content-inner .cont {
        flex: 0 0 30%;
        max-width: 33%;
    }
    .sdb-inner {
        gap: 30px;
    }
    .current-trade-marketing-wrap ul {
        flex-direction: column;
    }
    .current-trade-marketing-wrap ul li {
        max-width: 100%;
        flex-wrap: wrap;
    }
    .ain-wrap .ain-inner {
        gap: 20px;
    }
    .ain-wrap .ain-card {
        flex: 0 0 31%;
    }
    .ain-wrap .ain-card .thumbnail {
        height: 200px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
    .ain-wrap .ain-card h5 {
        font-size: 21px;
        line-height: 27px;
    }
    .ain-wrap .ain-card .ain-card-detail {
        padding: 24px;
        min-height: 180px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }
    .ain-wrap .ain-card p {
        font-size: 24px;
    }
    .report-wrap .report-inner {
        gap: 20px;
    }
    .report-wrap .report-card {
        flex: 0 0 31.5%;
    }
    .report-wrap .report-card .thumbnail {
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
    .report-wrap .report-card .report-card-detail {
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }
    .kit-wrap .kit-detail {
        gap: 20px;
    }
    .kit-wrap .kit-card h5 {
        font-size: 18px;
        line-height: 25px;
        min-height: 50px;
    }
    .kit-wrap .kit-card p {
        font-size: 21px;
    }
    .kit-wrap .kit-card p span {
        font-size: 18px;
        color: var(--chestnut);
    }
    .current-trade-marketing-wrap .title-row p br {
        display: none;
    }
    .partner .partner-detail {
        gap: 20px;
    }
    .partner .partner-card {
        border-radius: 30px;
    }
    .stc-inner .events .stc-result .col-left {
        max-width: 230px;
    }
    .stc-inner .events .stc-result {
        gap: 20px;
    }
    .stc-inner .stc-result {
        padding: 30px 20px;
    }
    .search-tabs {
        overflow-x: scroll;
    }
    .search-tabs .container {
        width: 770px;
    }
    .stc-inner .trade .trade-inner,
    .stc-inner .shopper-program .shopper-program-inner {
        gap: 30px;
    }
    .stc-inner .trade .stc-result a,
    .stc-inner .shopper-program .shopper-program-inner .spi-card {
        max-width: 100%;
        flex: 0 0 35%;
    }
}

@media (max-width:768px) {
    .category-banner .container,
    .category-banner .detail-row {
        max-width: 100%;
        padding: 0;
    }
    .category-banner .detail-card {
        max-width: 100%;
        margin: 0 auto;
        transform: scale(0.9);
        opacity: 0.5;
    }
    .category-banner .owl-item.active.center .detail-card {
        transform: scale(1.2);
        opacity: 1;
    }
    .category-banner .owl-carousel .owl-stage-outer {
        overflow: visible;
    }
    .category-banner .owl-dots {
        display: none;
    }
    .category-banner.banner p {
        font-size: 21px;
        line-height: 28px;
    }
    .category .banner-wrap {
        overflow-x: hidden;
        padding-bottom: 90px;
    }
    .category-banner {
        padding: 30px 0 140px;
    }
    .category .banner-wrap::after {
        background-size: 80%;
    }
    .category-banner .detail-card .thumbnail {
        height: 88px;
    }
    .category-banner .detail-card .card-title {
        min-height: 71px;
    }
    .avo-industry .avn-industry-card {
        max-width: 100%;
        transform: scale(0.9);
        opacity: 0.5;
    }
    .avo-industry .container {
        padding: 0;
    }
    .avo-industry .owl-carousel .owl-stage-outer {
        overflow: visible;
    }
    .avo-industry .owl-item.active.center .avn-industry-card {
        transform: scale(1.1);
        opacity: 1;
        margin: 0;
    }
    .avo-industry .avn-industry-card .thumbnail {
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
    }
    .avo-industry .avn-industry-card .avn-card-detail {
        border-bottom-left-radius: 45px;
        border-bottom-right-radius: 45px;
    }
    .avo-industry .avn-industry-card .avn-card-detail a {
        width: 100%;
        max-width: 240px;
        bottom: -30px;
    }
}

@media(max-width:767px) {
    header .header-inner {
        max-width: 240px;
    }
    header .line1 {
        left: -345px;
    }
    header .line2 {
        right: -345px;
    }
    header .line3 {
        display: none;
    }
    header .avo {
        display: none;
    }
    header .avo-mobile {
        display: block;
    }
    .forget-pass-banner {
        padding: 33px 0;
    }
    .forget-pass-banner {
        height: calc(100vh - 123px);
    }
    .login-banner {
        padding: 31px 0 282px;
    }
    .login-banner .banner-inner {
        margin: 0 auto;
    }
    .login-banner .hand {
        display: none;
    }
    .login-banner .hand-mobile {
        display: block;
        position: absolute;
        right: -200px;
        bottom: -50px;
    }
    .category .header-inner {
        max-width: 320px;
        padding: 0 20px;
    }
    .category header .line1 {
        left: -380px;
    }
    .category header .line2 {
        right: -380px;
    }
    footer {
        padding: 70px 0 54px;
    }
    .copy-right ul {
        gap: 0;
        flex-direction: column;
    }
    footer .footer-logo-wrap .line5 {
        left: 95%;
    }
    footer .footer-logo-wrap .line6 {
        right: 95%;
    }
    .avo-industry {
        padding: 40px 0 117px;
        overflow: hidden;
    }
    .avo-industry .title-row {
        margin-bottom: 60px;
        padding: 0 40px;
        text-align: left;
    }
    .avo-industry .title-row h2 {
        font-size: 42px;
        line-height: 42px;
    }
    .avo-industry .title-row h2 span {
        font-size: 32px;
        line-height: 32px;
    }
    .avo-industry .title-row p {
        font-size: 18px;
        line-height: 24px;
    }
    .trade-month-report-wrap .trade-month-report-img,
    .trade-month-report-wrap-sec .trade-month-report-img {
        max-width: 50%;
        flex: 0 0 46%;
    }
    .summary-banner {
        text-align: left;
        padding: 40px 0 60px;
    }
    .summary-banner h1 {
        font-size: 42px;
        line-height: 42px;
    }
    .summary-banner h1 span {
        font-size: 32px;
        line-height: 32px;
    }
    .summary-banner p {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 46px;
    }
    .trade-month-report-wrap {
        padding: 61px 0;
    }
    .trade-month-report-wrap-sec {
        padding: 44px 0;
    }
    .tabs-content-inner .cont {
        flex: 0 0 42%;
        max-width: 50%;
    }
    .supporting-doc-wrap {
        padding: 34px 0;
    }
    .supporting-tabs {
        overflow-x: scroll;
    }
    .supporting-tabs .container {
        width: 580px;
        max-width: initial;
    }
    .supporting-doc-banner {
        padding: 32px 0 34px;
    }
    .sdb-inner {
        flex-direction: column;
        padding: 0 22px;
    }
    .sdb-inner .sdb-col-left {
        max-width: 300px;
    }
    .current-trade-marketing-wrap h2 {
        text-align: left;
        padding: 0 22px;
    }
    .current-trade-marketing-wrap h2 span {
        font-size: 32px;
        line-height: 32px;
    }
    .ctm-content {
        padding: 35px 22px;
    }
    .supporting-doc-wrap h2 {
        text-align: left;
    }
    .supporting-doc-wrap h2 span {
        font-size: 32px;
        line-height: 32px;
    }
    .supporting-doc-wrap p {
        font-size: 18px;
        line-height: 24px;
        text-align: left;
    }
    .supporting-tabs .tabs a {
        font-size: 18px;
    }
    .current-trade-marketing-wrap,
    .tabs-content {
        padding: 35px 0;
    }
    .tabs-content-inner .cont .detail .download-btn {
        max-width: 230px;
    }
    .ain-wrap .container {
        padding: 0;
    }
    .ain-wrap .ain-inner {
        gap: 0;
    }
    .ain-wrap .ain-card {
        max-width: 100%;
        transform: scale(0.8);
        opacity: 0.5;
    }
    .ain-wrap .owl-carousel .owl-item img {
        display: inline-block;
    }
    .ain-wrap .owl-item.active.center .ain-card {
        transform: scale(1);
        opacity: 1;
    }
    .trade-post-banner {
        text-align: left;
        padding: 40px 0 60px 20px;
    }
    .trade-post-banner h1 {
        font-size: 42px;
        line-height: 42px;
        text-align: left;
        margin-bottom: 5px;
    }
    .trade-post-banner h1 span {
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -1.5px;
    }
    .ain-wrap {
        padding: 40px 0;
    }
    .report-wrap .container {
        padding: 0;
    }
    .report-wrap .report-inner {
        gap: 0;
    }
    .report-wrap .report-card {
        max-width: 100%;
        flex: 0 0 100%;
        transform: scale(0.8);
        opacity: 0.5;
    }
    .report-wrap .owl-carousel .owl-item img {
        display: inline-block;
    }
    .report-wrap .owl-item.active.center .report-card {
        transform: scale(1);
        opacity: 1;
    }
    .report-wrap .report-card p {
        font-size: 24px;
    }
    .report-wrap .report-card .thumbnail {
        height: 180px;
    }
    .report-wrap .report-card .report-card-detail {
        min-height: 156px;
    }
    .report-wrap {
        padding: 45px 0;
    }
    .report-banner {
        padding: 40px 0;
        text-align: left;
    }
    .report-banner h1 {
        font-size: 42px;
        line-height: 42px;
    }
    .report-post-wrap {
        padding: 40px 0;
    }
    .report-post-banner {
        text-align: left;
        padding: 40px 0;
    }
    .report-post-banner h1 {
        font-size: 42px;
        line-height: 42px;
    }
    .report-post-banner h1 span {
        font-size: 32px;
        line-height: 32px;
    }
    .kit-wrap {
        padding: 40px 0;
    }
    .kit-wrap .title-row {
        text-align: left;
        padding: 0 37px;
    }
    .kit-wrap .container {
        padding: 0;
    }
    .kit-wrap .kit-detail {
        gap: 0;
    }
    .kit-wrap .kit-card {
        max-width: 100%;
        flex: 0 0 100%;
        transform: scale(0.8);
        opacity: 0.5;
    }
    .kit-wrap .owl-carousel .owl-item img {
        display: inline-block;
        width: auto;
    }
    .kit-wrap .owl-item.active.center .kit-card {
        transform: scale(1);
        opacity: 1;
    }
    .kit-wrap .title-row h2 {
        font-size: 42px;
        line-height: 42px;
    }
    .kit-wrap .title-row h2 span {
        font-size: 32px;
        line-height: 32px;
    }
    .kit-wrap .title-row p {
        font-size: 18px;
        line-height: 24px;
    }
    .supporting-tabs-wrap .container {
        padding: 0;
    }
    .tabs-content .owl-carousel .owl-item img {
        width: auto;
    }
    .tabs-content {
        overflow: hidden;
    }
    .tabs-content-inner .cont {
        max-width: 100%;
        transform: scale(0.8);
        opacity: 0.5;
        min-height: 430px;
    }
    .tabs-content-inner .owl-item.active.center .cont {
        transform: scale(1);
        opacity: 1;
    }
    .tabs-content .owl-carousel .owl-stage-outer {
        overflow: visible;
    }
    .tabs-content-inner .cont .detail {
        min-height: 230px;
    }
    .date-inner {
        flex-direction: column;
    }
    .date-inner p {
        font-size: 18px;
        line-height: 24px;
    }
    .date-inner .start-date,
    .date-inner .end-date {
        max-width: 100%;
        border-radius: 0;
        gap: 15px;
        height: 58px;
    }
    .date .container {
        padding: 0;
    }
    .current-trade-marketing-wrap .title-row p {
        text-align: left;
        padding: 0 22px;
    }
    .partner .partner-card {
        flex: 0 0 32%;
        max-width: 100%;
    }
    .partner {
        padding: 40px 0;
    }
    .partner h2 {
        font-size: 42px;
        line-height: 42px;
        text-align: left;
    }
    .partner h2 span {
        font-size: 32px;
        line-height: 3s2px;
    }
    .search-banner {
        padding: 40px 15px;
        text-align: left;
    }
    .search-banner h1 {
        font-size: 42px;
        line-height: 42px;
    }
    .search-banner h1 span {
        font-size: 32px;
        line-height: 32px;
    }
    .stc-inner .news .stc-result p {
        align-items: flex-start;
        gap: 20px;
        flex-direction: column;
    }
    .stc-inner .stc-result span {
        font-size: 18px;
    }
    .stc-inner h2 {
        font-size: 24px;
        line-height: 30px;
        padding: 0 20px;
    }
    .stc-inner .events .stc-result {
        gap: 24px;
        flex-direction: column;
        align-items: flex-start;
    }
    .stc-inner .events .stc-result .col-left {
        max-width: 100%;
        border: none;
    }
    .stc-inner .stc-result h4 {
        font-size: 21px;
        line-height: 27px;
        margin-bottom: 0;
    }
    .stc-inner .trade .trade-inner,
    .stc-inner .shopper-program .shopper-program-inner {
        gap: 30px;
    }
    .stc-inner .trade .stc-result a,
    .stc-inner .shopper-program .shopper-program-inner .spi-card {
        max-width: 320px;
        flex: 0 0 100%;
    }
    .stc-inner .reports .stc-result p {
        font-size: 18px;
        line-height: 24px;
    }
}

@media (max-width:600px) {
    .login-banner .hand-mobile {
        right: -130px;
        bottom: 0;
    }
    .partner .partner-card {
        max-width: 320px;
        flex: 0 0 100%;
    }
}

@media (max-width:480px) {
    .forget-pass-banner::after {
        background-size: 100%;
    }
    .forget-pass-banner p {
        max-width: 210px;
        margin: 0 auto 30px;
    }
    .forget-pass-banner h2 {
        margin-bottom: 23px;
    }
    .forget-pass-banner h2 span {
        display: block;
    }
    .login-banner .hand-mobile {
        display: none;
    }
    .login-banner {
        padding: 31px 0 40px;
    }
    .login-banner .hand-mobile2 {
        display: block;
        transform: translateX(72px);
    }
    .trade-month-report-wrap .trade-month-report-img,
    .trade-month-report-wrap-sec .trade-month-report-img {
        max-width: 285px;
        flex: 0 0 100%;
    }
}

@media (max-width:400px) {
    .category header .line1 {
        left: -350px;
    }
    .category header .line2 {
        right: -350px;
    }
    .login-banner {
        padding: 31px 0 250px;
    }
    .login-banner .hand-mobile2 {
        transform: translate(140px, -30px) scale(1.5);
        position: absolute;
        bottom: 0;
        right: 0;
    }
}


/* media queries end */