/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* font css start */

@font-face {
    font-family: 'AFMSans-Regular';
    src: url('../fonts/AFMSans-Regular.woff') format("woff"), url('../fonts/AFMSans-Regular.woff2') format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.woff2') format('woff2'), url('../fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HurmeGeometricSans4';
    src: url('../fonts/HurmeGeometricSans4-Bold.woff2') format('woff2'), url('../fonts/HurmeGeometricSans4-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hurme Geometric Sans 4';
    src: url('../fonts/HurmeGeometricSans4-Black.woff2') format('woff2'), url('../fonts/HurmeGeometricSans4-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std';
    src: url('../fonts/ITCAvantGardeStd-Bold.woff2') format('woff2'), url('../fonts/ITCAvantGardeStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HurmeGeometricSans4';
    src: url('../fonts/HurmeGeometricSans4-Regular.woff2') format('woff2'), url('../fonts/HurmeGeometricSans4-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HurmeGeometricSans4';
    src: url('../fonts/HurmeGeometricSans4-SemiBold.woff2') format('woff2'), url('../fonts/HurmeGeometricSans4-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TastyBold';
    src: url('../fonts/TastyBold.woff2') format('woff2'), url('../fonts/TastyBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/* font css end */


/* global css start */

:root {
    --dark: #000;
    --light: #fff;
    --primary: #E50E63;

    --light-green: #8FDC00;
    --county-green: #003A1B;
    --verdun-green: #3D5A00;
    --brown: #730732;
    --chestnut: #712207;
    --orange: #F15D2A;
    --peel: #FF9600;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'HurmeGeometricSans4';
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
label,
ol,
ul,
p {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
.error{
    color: red !important;
    font-size: 18px !important;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}

img {
    height: auto;
    max-width: 100%;
}

button {
    background-color: transparent;
    padding: 0;
    border: none;
}

input:focus,
select:focus {
    border-color: transparent;
    outline: none;
}


/* global css end */


/* header css start */

header {
    padding: 28px 0 15px;
    background-color: var(--light);
    overflow-x: hidden;
}

header .container {
    position: relative;
}

header .line1,
header .line2 {
    position: absolute;
    left: -415px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

header .line2 {
    left: auto;
    right: -415px;
}

header .header-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 840px;
    margin: 0 auto;
}

header .avo-mobile {
    display: none;
}


/* header css start */


/* footer css start */

footer {
    background-image: url("../images/banner-bg.jpg");
    background-repeat: repeat-y;
    background-position: center;
    background-size: contain;
    overflow-x: hidden;
    padding: 80px 0 70px;
    background-position: center;
    position: relative;
}

footer:after {
    content: '';
    background-image: url("../images/line4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position: center 40%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

footer .container {
    position: relative;
    z-index: 1;
}

footer .footer-logo-wrap {
    position: relative;
    text-align: center;
    margin-bottom: 45px;
}


/* footer .footer-logo-wrap .line5 {
    position: absolute;
    left: 65%;
    top: 50%;
    transform: translateY(-50%);
    height: 25px;
    object-fit: cover;
}

footer .footer-logo-wrap .line6 {
    position: absolute;
    right: 65%;
    top: 50%;
    transform: translateY(-50%);
    height: 25px;
    object-fit: cover;
} */

footer .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 50px;
}

footer .footer-list a {
    font-size: 18px;
    line-height: 24px;
    color: var(--county-green);
    font-weight: 600;
    text-decoration: underline;
}

.copy-right {
    padding: 22px 0;
    background-color: var(--primary);
}

.copy-right ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 50px;
}

.copy-right ul li {
    font-size: 18px;
    line-height: 24px;
    color: var(--light);
    font-weight: 600;
}

.copy-right ul li a {
    color: var(--light);
}


/* footer css end */


/* login-page css start */


/* banner css start */

.login-banner {
    padding: 70px 0 340px;
    background-image: url("../images/banner-bg.jpg");
    background-repeat: repeat-y;
    background-position: center;
    background-size: 100% auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.banner::after {
    content: '';
    position: absolute;
    background: url(../images/banner-arrow.png) no-repeat;
    background-repeat: repeat-x;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 100%;
    background-position: 100% 89%;
    z-index: -1;
}

.login-banner .hand {
    position: absolute;
    top: 15.8%;
    left: 52.8%;
}

.login-banner .hand-mobile {
    display: none;
}

.login-banner .hand-mobile2 {
    display: none;
}

.login-banner .banner-inner {
    text-align: center;
}

.banner h2 {
    font-size: 52px;
    font-weight: 400;
    line-height: 52px;
    color: var(--primary);
    text-transform: uppercase;
    font-family: 'AFMSans-Regular';
    text-shadow: -3px 3px 0px #fff;
}

.banner p {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    color: var(--county-green);
    margin-bottom: 38px;
}

.login-banner .banner-inner {
    max-width: 495px;
}

.banner label a {
    color: var(--verdun-green);
}

.banner .form-group input {
    height: 52px;
    background-color: var(--light);
    color: var(--county-green);
    border: 2px solid var(--county-green);
    border-radius: 12px;
    padding: 13px 18px 9px;
    width: 100%;
    margin-bottom: 20px;
}

.banner .form-group input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 27px;
    font-weight: 600;
    color: var(--county-green);
    letter-spacing: -0.4px;
}

.banner .form-group input::-moz-placeholder {
    font-size: 16px;
    line-height: 27px;
    font-weight: 600;
    color: var(--county-green);
    letter-spacing: -0.4px;
}

.banner .form-group input:-ms-input-placeholder {
    font-size: 16px;
    line-height: 27px;
    font-weight: 600;
    color: var(--county-green);
    letter-spacing: -0.4px;
}

.banner .form-group input::-ms-input-placeholder {
    font-size: 16px;
    line-height: 27px;
    font-weight: 600;
    color: var(--county-green);
    letter-spacing: -0.4px;
}

.banner .form-group input::placeholder {
    font-size: 16px;
    line-height: 27px;
    font-weight: 600;
    color: var(--county-green);
    letter-spacing: -0.4px;
}

.login-banner .forget-pass {
    font-size: 21px;
    line-height: 27px;
    font-weight: 600;
    color: var(--verdun-green);
    margin-bottom: 20px;
}

.login-banner .form-group2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 41px;
}

.login-banner .form-group2 input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.login-banner .form-group2 label {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    line-height: 26px;
    font-weight: 600;
    color: var(--verdun-green);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.login-banner .form-group2 label:before {
    content: '';
    -webkit-appearance: none;
    border: 1px solid var(--light-green);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 5px;
}

.login-banner .form-group2 input:checked+label:before {
    background-color: var(--light-green);
}

.login-banner .form-group2 input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 7px;
    width: 5px;
    height: 10px;
    border: solid var(--county-green);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* banner css end */


/* login-page css start */


/* forget-page css start */

.forget-pass-banner {
    padding: 90px 0;
    background-image: url(../images/banner-bg.jpg);
    background-repeat: repeat-y;
    background-position: center;
    background-size: 100% auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    height: 730px !important;
}

.forget-pass-banner::after {
    content: '';
    position: absolute;
    background: url(../images/patterns.png) no-repeat;
    background-repeat: repeat-x;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 100%;
    background-position: 100% 89%;
    z-index: -1;
}

.forget-pass-banner .banner-inner {
    max-width: 586px;
    margin: 0 auto;
    text-align: center;
}

.forget-pass-banner h2 span {
    font-size: 42px;
    font-weight: 400;
    line-height: 52px;
    font-family: 'TastyBold';
    color: var(--brown);
    text-shadow: none;
}

.forget-pass-banner p {
    color: var(--brown);
}

.forget-pass-banner .form-group {
    max-width: 495px;
    margin: 0 auto;
}

.forget-pass-banner .form-group input {
    border-color: var(--brown);
    color: var(--brown);
}

.forget-pass-banner .form-group input::-webkit-input-placeholder {
    color: var(--brown);
}

.forget-pass-banner .form-group input::-moz-placeholder {
    color: var(--brown);
}

.forget-pass-banner .form-group input:-ms-input-placeholder {
    color: var(--brown);
}

.forget-pass-banner .form-group input::-ms-input-placeholder {
    color: var(--brown);
}

.forget-pass-banner .form-group input::placeholder {
    color: var(--brown);
}


/* forget-page css end */


/* category-page css start */

.category .clmb {
    display: none;
}

.category .container {
    max-width: 1350px;
    padding: 0 15px;
    position: relative;
}

.category .header-inner {
    max-width: 100%;
    padding-left: 24px;
}

.category header .line1 {
    left: -500px;
}

.category header .line2 {
    right: -500px;
}

.category .category-menu {
    background-color: var(--orange);
    padding: 32px 0 33px;
}

.category .category-menu form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 15px;
}

.category .category-menu form input {
    height: 52px;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 0 25px;
}

.category .category-menu form .form-group {
    max-width: 51.2%;
    width: 100%;
    position: relative;
}

.category .category-menu form .form-group:first-child {
    max-width: 32%;
    width: 100%;
}

.category .category-menu .date {
    background-color: var(--chestnut);
    background-position: 94% center;
    width: 100%;
    height: 52px;
    padding: 15px 0 15px 61px;
    font-size: 21px;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 7px;
    border: none;
    letter-spacing: 0.4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    background-image: url(../images/orange-arrow.png), url(../images/calander.png);
    background-position: 94% center, 15px center;
    background-repeat: no-repeat;
    color: var(--light);
}

.category .category-menu .calender {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 16px;
}

.category .category-menu .arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 23px;
}

.category .category-menu .search::-webkit-input-placeholder {
    font-size: 21px;
    font-weight: 600;
    line-height: 27px;
    color: var(--orange);
    letter-spacing: 0.6px;
}

.category .category-menu .search::-moz-placeholder {
    font-size: 21px;
    font-weight: 600;
    line-height: 27px;
    color: var(--orange);
    letter-spacing: 0.6px;
}

.category .category-menu .search:-ms-input-placeholder {
    font-size: 21px;
    font-weight: 600;
    line-height: 27px;
    color: var(--orange);
    letter-spacing: 0.6px;
}

.category .category-menu .search::-ms-input-placeholder {
    font-size: 21px;
    font-weight: 600;
    line-height: 27px;
    color: var(--orange);
    letter-spacing: 0.6px;
}

.category .category-menu .search,
.category .category-menu .search::placeholder {
    font-size: 21px;
    font-weight: 600;
    line-height: 27px;
    color: var(--orange);
    letter-spacing: 0.6px;
}

.category .category-menu .search-btn {
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.category .category-menu .category-btn {
    background-color: var(--light-green);
    font-size: 21px;
    font-weight: 600;
    line-height: 27px;
    color: var(--light);
    padding: 11px 55px;
    border-radius: 50px;
    -webkit-box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.category .category-menu .category-btn:hover {
    background-color: var(--light);
    color: var(--light-green);
}

.category .banner-wrap {
    position: relative;
    padding-bottom: 100px;
}

.category .banner-wrap::after {
    display: none;
    content: '';
    position: absolute;
    background: url(../images/patterns.png) no-repeat;
    background-repeat: repeat-x;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 100%;
    background-position: 100% 89%;
    z-index: -1;
}

.category .banner::after {
    display: none;
}

.category-banner {
    padding: 90px 0;
    background-image: url("../images/banner-bg.jpg");
    background-repeat: repeat-y;
    background-position: center;
    background-size: 100% auto;
    position: relative;
    z-index: 1;
}

.category-banner p {
    font-size: 38px;
    line-height: 36px;
    max-width: 720px;
    margin: 0 auto 73px;
    text-align: center;
}

.category-banner .detail-row {
    padding: 0 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: -214px;
}

.category-banner .detail-card {
    max-width: 25%;
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 22.9%;
    flex: 0 0 22.9%;
    border-radius: 40px;
    overflow: hidden;
}

.category-banner .detail-card .thumbnail {
    height: 159px;
}

.category-banner .detail-card .thumbnail img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.category-banner .detail-card .card-title {
    min-height: 127px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.category-banner .detail-card .card-title h5 {
    font-size: 37px;
    font-weight: 400;
    line-height: 37px;
    color: var(--light);
    text-transform: uppercase;
    font-family: 'AFMSans-Regular';
}

.category-banner .detail-card .card-title span {
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    color: var(--light-green);
    text-transform: uppercase;
    font-family: 'TastyBold';
    font-style: italic;
    position: relative;
    padding-bottom: 8px;
}

.category-banner .detail-card .card-title span:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(../images/hub-path.png) no-repeat;
    width: 68px;
    height: 6px;
}

.category-banner .detail-card.card1 .card-title {
    background-color: #009E4F;
}

.category-banner .detail-card.card1 .card-title h5 {
    text-shadow: -1px 2px 0px #bbff28;
}

.category-banner .detail-card.card2 .card-title {
    background-color: #F15D2A;
}

.category-banner .detail-card.card2 .card-title h5 {
    text-shadow: -3px 3px 0px #FF9600;
}

.category-banner .detail-card.card3 .card-title {
    background-color: #E50E63;
}

.category-banner .detail-card.card3 .card-title h5 {
    text-shadow: -3px 3px 0px #F55F9B;
}

.category-banner .detail-card.card4 .card-title {
    background-color: #C20430;
}

.category-banner .detail-card.card4 .card-title h5 {
    text-shadow: -3px 3px 0px #FA0F46;
}

.avo-industry {
    padding: 212px 0 117px;
    overflow: hidden;
}

.avo-industry .container {
    position: relative;
}

.avo-industry .title-row {
    text-align: center;
    margin-bottom: 56px;
}

.avo-industry .title-row h2 {
    font-size: 52px;
    line-height: 52px;
    color: var(--orange);
    font-family: 'AFMSans-Regular';
    font-weight: 400;
}

.avo-industry .title-row h2 span {
    font-size: 42px;
    line-height: 42px;
    color: var(--brown);
    font-family: 'TastyBold';
}

.avo-industry .title-row p {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: var(--brown);
}

.avo-industry .avo-industry-detail {
    padding: 0 62px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.avo-industry .avn-arrow-left {
    position: absolute;
    top: 20%;
    /*-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
    left: -196px;
}

.avo-industry .avn-arrow-right {
    position: absolute;
    top: 20%;
   /* -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
    right: -196px;
}

.avo-industry .avn-industry-card {
    max-width: 33.33%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30.9%;
    flex: 0 0 30.9%;
    border-radius: 62px;
    margin-bottom: 100px;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
}

.avo-industry .avn-industry-card .thumbnail {
    height: 305px;
    border-top-left-radius: 62px;
    border-top-right-radius: 62px;
    overflow: hidden;
}

.avo-industry .avn-industry-card .thumbnail img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.avo-industry .avn-industry-card:first-child .thumbnail img {
    -o-object-position: 10%;
    object-position: 10%;
}

.avo-industry .avn-industry-card .avn-card-detail {
    background-color: var(--orange);
    padding: 30px 36px;
    position: relative;
    border-bottom-left-radius: 62px;
    border-bottom-right-radius: 62px;
    height: 274px;
}

.avo-industry .avn-industry-card h5 {
    font-size: 32px;
    font-weight: bold;
    line-height: 36px;
    color: var(--light);
    margin-bottom: 14px;
}

.avo-industry .avn-industry-card p {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    color: var(--light);
}

.avo-industry .avn-industry-card .avn-card-detail a {
    display: block;
    position: absolute;
    bottom: -40px;
    left: 51%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}


/* category-page css end */


/* summary-page css start */

.summary-banner {
    background-image: url("../images/banner-bg.jpg");
    background-repeat: repeat-y;
    background-position: center;
    background-size: contain;
    padding: 99px 0 84px;
    text-align: center;
}

.summary-banner h1 {
    font-size: 52px;
    line-height: 52px;
    color: var(--orange);
    font-family: 'AFMSans-Regular';
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: -3px 3px 0px var(--light);
}

.summary-banner h1 span {
    font-size: 42px;
    line-height: 42px;
    color: var(--brown);
    font-family: 'TastyBold';
    text-transform: uppercase;
    text-shadow: none;
}

.summary-banner p {
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    color: var(--brown);
    margin-bottom: 90px;
}

.trade-month-report-wrap {
    padding: 84px 0 104px;
    background: url(../images/line7.png) no-repeat;
    background-position: bottom;
    background-repeat: repeat-x;
}

.trade-month-report {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 44px;
}

.trade-month-report-img {
    -webkit-box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 20%);
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 20%);
    border-radius: 50px;
    overflow: hidden;
    max-width: 33.33%;
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 28%;
    flex: 0 0 28%;
    min-height: 230px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.trade-month-report-img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.trade-month-report-wrap-sec {
    padding: 84px 0;
}

.trade-month-report-wrap-sec .trade-month-report-img {
    max-width: 25%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    min-height: 210px;
}

.trade-month-report-wrap-sec .trade-month-report {
    gap: 37px;
}


/* summary-page css end */


/* supporting-doc-page css start */

.supporting-doc-banner {
    background-image: url("../images/banner-bg.jpg");
    background-repeat: repeat-y;
    background-position: center;
    background-size: contain;
    padding: 52px 0 56px;
}

.sdb-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 87px;
}

.sdb-inner .sdb-col-left {
    -webkit-box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 20%);
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 20%);
    background-color: var(--light);
    border-radius: 50px;
    overflow: hidden;
    max-width: 288px;
    width: 100%;
    min-height: 288px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.sdb-col-left .trade-btn {
    background-color: var(--orange);
    color: var(--light);
    border-radius: 50px;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'TastyBold';
    text-align: center;
    padding: 5.5px 31px;
    margin-top: 30px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border: 2px solid var(--orange);
}

.sdb-col-left .trade-btn:hover {
    background-color: var(--light);
    color: var(--orange);
}

.sdb-col-right p {
    font-size: 28px;
    font-weight: bold;
    line-height: 36px;
    color: var(--county-green);
    margin-bottom: 51px;
}

.sdb-col-right .back-btn {
    margin-bottom: 15px;
}

.current-trade-marketing-wrap {
    padding: 84px 0;
    overflow: hidden;

}
.current-trade-marketing-wrap .title-row{
    margin-bottom: 65px;
}
.ctmw-inner{
    border-bottom: 3px solid var(--chestnut);
    padding: 40px;
}
.ctmw-inner:last-child{
    border-bottom: none;
}


.current-trade-marketing-wrap h2 {
    font-size: 52px;
    line-height: 52px;
    color: var(--orange);
    font-family: 'AFMSans-Regular';
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

.current-trade-marketing-wrap .title-row p {
    text-align: left;
    max-width: 100%;
}

.current-trade-marketing-wrap h2 span {
    font-size: 42px;
    line-height: 42px;
    color: var(--chestnut);
    font-family: 'TastyBold';
    text-transform: uppercase;
    text-shadow: none;
}

.ctm-content {
    padding: 40px 30px;
    border-bottom: 2px solid var(--chestnut);
}

.current-trade-marketing-wrap strong {
    font-size: 24px;
    line-height: 30px;
    color: var(--chestnut);
    font-weight: bold;
    margin-bottom: 5px;
}

.current-trade-marketing-wrap p {
    font-size: 24px;
    line-height: 30px;
    color: var(--chestnut);
    font-weight: 600;
    margin-bottom: 12px;
    max-width: 1021px;
}

.current-trade-marketing-wrap span {
    font-size: 24px;
    line-height: 30px;
    color: var(--peel);
    font-weight: 400;
}

.current-trade-marketing-wrap ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 20px;
}

.current-trade-marketing-wrap ul li {
    font-size: 24px;
    line-height: 30px;
    color: var(--chestnut);
    font-weight: 600;
    max-width: 100%;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    padding-left: 30px;
}

.current-trade-marketing-wrap ul li::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/green-arrow.png) no-repeat;
    width: 14px;
    height: 25px;
    background-position: center;
}

.supporting-doc-wrap {
    background-color: var(--light-green);
    padding: 56px 0 52px;
}

.supporting-doc-wrap h2 {
    font-size: 52px;
    line-height: 52px;
    color: var(--light);
    font-family: 'AFMSans-Regular';
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.supporting-doc-wrap h2 span {
    font-size: 42px;
    line-height: 42px;
    font-family: 'TastyBold';
    text-transform: uppercase;
    color: var(--verdun-green);
}

.supporting-doc-wrap p {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: var(--light);
    text-align: center;
}


/* .current-trade-marketing-wrap {
    position: relative;
} */


/* .current-trade-marketing-inner {
    position: relative;
} */

.current-trade-marketing-wrap .container {
    position: relative;
}

.current-trade-marketing-wrap .ctm-arrow-left {
    position: absolute;
    left: -230px;
    top: 30px;
}

.current-trade-marketing-wrap .ctm-arrow-right {
    position: absolute;
    right: -230px;
    top: 30px;
}

.supporting-tabs {
    background-color: var(--verdun-green);
    padding: 13px 0 0;
}

.supporting-tabs .tabs {
    max-width: 758px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.supporting-tabs .tabs a {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: var(--light);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    position: relative;
    padding: 0 15px 22px;
}

.supporting-tabs .tabs li a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--light-green);
    width: 100%;
    height: 12px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
}

.supporting-tabs .tabs li a.active,
.supporting-tabs .tabs li a:hover {
    color: var(--light-green);
}

.supporting-tabs .tabs li a.active:after,
.supporting-tabs .tabs li a:hover::after {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}

.tabs-content {
    padding: 84px 0;
}

.tabs-content-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 43px;
}

.tabs-content-inner .cont {
    border: 3px solid var(--light-green);
    border-radius: 40px;
    max-width: 25%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 21.4%;
    flex: 0 0 21.4%;
    margin-bottom: 20px;
    min-height: 490px;
    height: 100%;
}

.tabs-content-inner .cont .thumbnail {
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #F7F7F7;
}

.tabs-content-inner .cont h5 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: var(--light-green);
    min-height: 100px;
}

.tabs-content-inner .cont h5 a {
    color: var(--light-green);
}

.tabs-content-inner .cont p {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: var(--verdun-green);
}

.tabs-content-inner .cont .detail {
    padding: 13px 16px 38px;
    position: relative;
    min-height: 290px;
    height: 100%;
}

.tabs-content-inner .cont .detail .download-btn {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -40px;
    max-width: 227px;
    width: 100%;
}

.load-more-btn {
    display: block;
    max-width: 268px;
    margin: 42px auto 0;
}

.video-cont {
    width: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    overflow: hidden;
    font-size: 0;
}

.video-cont video {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
}


/* supporting-doc-page css end */


/* shopper-summary-page css start */

.kit-wrap {
    background-color: var(--orange);
    padding: 86px 0 93px;
}

.kit-wrap .title-row {
    text-align: center;
}

.kit-wrap .title-row h2 {
    font-size: 52px;
    line-height: 52px;
    color: var(--light);
    font-family: 'AFMSans-Regular';
    font-weight: 400;
    text-transform: uppercase;
}

.kit-wrap .title-row h2 span {
    font-size: 42px;
    line-height: 42px;
    font-family: 'TastyBold';
    text-transform: uppercase;
    color: var(--chestnut);
}

.kit-wrap .title-row p {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    color: var(--light);
    margin-bottom: 34px;
}

.kit-wrap .kit-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 44px;
}

.kit-wrap .kit-card {
    background-color: var(--light);
    padding: 30px;
    border-radius: 50px;
    max-width: 33.33%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 28%;
    flex: 0 0 28%;
    text-align: center;
}

.kit-wrap .kit-card h5 {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    color: var(--orange);
    margin-bottom: 20px;
    min-height: 60px;
}

.kit-wrap .kit-card p {
    font-size: 32px;
    font-weight: bold;
    line-height: 24px;
    color: var(--chestnut);
    text-transform: uppercase;
}

.kit-wrap .kit-card p span {
    font-size: 21px;
    color: var(--chestnut);
}

.partner {
    padding: 80px 0;
}

.partner h2 {
    font-size: 52px;
    line-height: 52px;
    color: var(--orange);
    font-family: 'AFMSans-Regular';
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.partner h2 span {
    font-size: 42px;
    line-height: 42px;
    font-family: 'TastyBold';
    text-transform: uppercase;
    color: var(--chestnut);
}

.partner .partner-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 40px;
}

.partner .partner-card {
    border-radius: 24px;
    padding: 20px;
    max-width: 33.33%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    -webkit-box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 20%);
    box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 20%);
    cursor: pointer;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    text-align: center;
}

.partner .partner-card:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


/* shopper-summary-page css end */


/* date sec css start */

.date-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.date-inner p {
    font-size: 28px;
    line-height: 36px;
    color: var(--light);
    font-weight: bold;
}

.date-inner .start-date,
.date-inner .end-date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 50%;
    width: 100%;
    gap: 24px;
    height: 73px;
}

.date-inner .start-date {
    background-color: var(--light-green);
    border-bottom-left-radius: 40px;
}

.date-inner .end-date {
    background-color: #C20430;
    border-bottom-right-radius: 40px;
}


/* date sec css end */


/* trade-post page css start */

.trade-post-banner {
    background-image: url("../images/banner-bg.jpg");
    background-repeat: repeat-y;
    background-position: center;
    background-size: contain;
    padding: 100px 0 84px;
    text-align: center;
}

.trade-post-banner h1 {
    font-size: 52px;
    line-height: 52px;
    color: #009E4F;
    font-family: 'AFMSans-Regular';
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    text-shadow: -3px 3px 0px var(--light);
}

.trade-post-banner h1 span {
    font-size: 42px;
    line-height: 42px;
    font-family: 'TastyBold';
    text-transform: uppercase;
    color: var(--county-green);
    text-shadow: none;
}

.trade-post-banner p {
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 85px;
}

.ain-wrap {
    padding: 80px 0;
    overflow: hidden;
}

.ain-wrap .ain-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 41.5px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.ain-wrap .ain-card {
    max-width: 33%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 28%;
    flex: 0 0 28%;
    margin-bottom: 25px;
    border-radius: 62px;
    -webkit-box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.ain-wrap .ain-card h5 {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    color: var(--peel);
    background-color: var(--chestnut);
    width: 100%;
    padding: 11.5px 0;
    text-align: center;
}

.ain-wrap .ain-card p {
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
    color: var(--light);
}

.ain-wrap .ain-card .thumbnail {
    font-size: 0;
    height: 300px;
    border-top-left-radius: 62px;
    border-top-right-radius: 62px;
    overflow: hidden;
}

.ain-wrap .ain-card .thumbnail img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.ain-wrap .ain-card .ain-card-detail {
    background-color: var(--orange);
    min-height: 200px;
    height: 100%;
    padding: 38px 34px;
    position: relative;
    border-bottom-left-radius: 62px;
    border-bottom-right-radius: 62px;
}

.ain-wrap .ain-card .read-more-btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;
    max-width: 270px;
    width: 100%;
    margin: 0 auto;
}


/* trade-post page css end */


/* report-page css start */

.report-banner {
    background-image: url("../images/banner-bg.jpg");
    background-repeat: repeat-y;
    background-position: center;
    background-size: contain;
    padding: 100px 0 84px;
    text-align: center;
}

.report-banner h1 {
    font-size: 52px;
    line-height: 52px;
    color: #C20430;
    font-family: 'AFMSans-Regular';
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: -3px 3px 0px var(--light);
}

.report-banner p {
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
    max-width: 600px;
    margin: 0 auto 55px;
    color: var(--chestnut);
}

.report-wrap {
    padding: 80px 0;
    overflow: hidden;
}

.report-wrap .report-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 43.5px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.report-wrap .report-card {
    max-width: 33%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 28%;
    flex: 0 0 28%;
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 62px;
}

.report-wrap .report-card h5 {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    color: var(--peel);
    background-color: var(--chestnut);
    width: 100%;
    padding: 11.5px 0;
    text-align: center;
}

.report-wrap .report-card p {
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
    color: var(--light);
}

.report-wrap .report-card .thumbnail {
    font-size: 0;
    height: 207px;
    border-top-left-radius: 62px;
    border-top-right-radius: 62px;
    overflow: hidden;
}

.report-wrap .report-card .thumbnail img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.report-wrap .report-card .report-card-detail {
    background-color: var(--orange);
    min-height: 207px;
    height: 100%;
    padding: 38px 34px;
    position: relative;
    border-bottom-left-radius: 62px;
    border-bottom-right-radius: 62px;
}

.report-wrap .report-card .learn-more-btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;
    max-width: 270px;
    width: 100%;
    margin: 0 auto;
}

.avn-arrow-left {
    position: absolute;
    left: -150px;
    top: 90px;
}

.avn-arrow-right {
    position: absolute;
    right: -150px;
    top: 90px;
}

/* report-page css end */


/* report-post-page css start */

.report-post-banner {
    background-image: url("../images/banner-bg.jpg");
    background-repeat: repeat-y;
    background-position: center;
    background-size: contain;
    padding: 100px 0 84px;
    text-align: center;
}

.report-post-banner h1 {
    font-size: 52px;
    line-height: 52px;
    color: var(--orange);
    font-family: 'AFMSans-Regular';
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: -3px 3px 0px var(--light);
}

.report-post-banner h1 span {
    font-size: 42px;
    line-height: 42px;
    font-family: 'TastyBold';
    text-transform: uppercase;
    color: var(--chestnut);
    text-shadow: none;
}

.report-post-banner p {
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
    max-width: 800px;
    margin: 0 auto 55px;
    color: var(--chestnut);
}

.report-post-wrap {
    padding: 80px 0;
}

.report-post-wrap .report-btn {
    max-width: 300px;
    margin: 30px auto 0;
    display: block;
}
.report-post-thumbnail{
    text-align: center;
}

.report-post-thumbnail.thumbnail img {
    width: 100%;
}


/* report-post-page css end */


/* search page css start */

.search-banner {
    background-image: url("../images/banner-bg.jpg");
    background-repeat: repeat-y;
    background-position: center;
    background-size: contain;
    padding: 100px 0 84px;
    text-align: center;
}

.search-banner h1 {
    font-size: 52px;
    line-height: 52px;
    color: var(--orange);
    font-family: 'AFMSans-Regular';
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: -3px 3px 0px var(--light);
}

.search-banner h1 span {
    font-size: 42px;
    line-height: 42px;
    font-family: 'TastyBold';
    text-transform: uppercase;
    color: var(--chestnut);
    text-shadow: none;
}

.search-banner p {
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
    max-width: 800px;
    margin: 0 auto 55px;
    color: var(--chestnut);
}

.search-tabs {
    background-color: var(--chestnut);
    padding: 16px 0 0;
}

.search-tabs .tabs {
    max-width: 758px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.search-tabs .tabs a {
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
    color: var(--light);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    position: relative;
    padding: 0 15px 15px;
    text-transform: uppercase;
}

.search-tabs .tabs li a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--peel);
    width: 100%;
    height: 12px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
}

.search-tabs .tabs li a.active,
.search-tabs .tabs li a:hover {
    color: var(--peel);
}

.search-tabs .tabs li a.active:after,
.search-tabs .tabs li a:hover::after {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}

.stc-inner {
    padding: 52px 0;
}

.stc-inner h2 {
    font-size: 28px;
    font-weight: bold;
    color: var(--orange);
    line-height: 36px;
    padding: 0 30px;
}

.stc-inner .stc-result {
    border-bottom: 2px solid var(--chestnut);
    padding: 48px 30px;
}

.stc-inner .stc-result h5 {
    font-size: 24px;
    font-weight: bold;
    color: var(--chestnut);
    line-height: 30px;
}

.stc-inner .stc-result h4 {
    font-size: 24px;
    font-weight: 600;
    color: var(--chestnut);
    line-height: 30px;
    margin-bottom: 18px;
}
.stc-inner .stc-result h4 a {
    color: var(--chestnut);
}

.stc-inner .stc-result span {
    font-size: 24px;
    font-weight: 600;
    color: var(--chestnut);
    line-height: 30px;
    display: block;
    margin-bottom: 18px;
}

.stc-inner .events .stc-result span {
    color: var(--primary);
    font-weight: 400;
    margin-bottom: 0;
}

.stc-inner .news .stc-result p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 40px;
}

.stc-inner .news .stc-result p .link {
    font-size: 24px;
    font-weight: 600;
    color: var(--peel);
    line-height: 30px;
    max-width: 970px;
    display: block;
    line-break: anywhere;
}

.stc-inner .news .stc-result p .copy-link {
    max-width: 110px;
    width: 100%;
}

.stc-inner .events .stc-result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 50px;
}

.stc-inner .events .stc-result .col-left {
    color: var(--primary);
    font-weight: 400;
    margin-bottom: 0;
    border-right: 2px solid #C3002C;
    max-width: 275px;
    width: 100%;
}

.stc-inner .events .stc-result .col-right p {
    font-size: 24px;
    font-weight: 600;
    color: var(--chestnut);
    line-height: 30px;
    max-width: 935px;
    width: 100%;
}

.stc-inner .trade .trade-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 37px;
}

/*.stc-inner .trade .stc-result a {*/
/*max-width: 25%;*/
/*width: 100%;*/
/*flex: 0 0 22.5%;*/
/*height: 211px;*/
/*padding: 10px;*/
/*display: flex;*/
/*justify-content: center;*/
/*align-items: center;*/
/*box-shadow: 0px 3px 10px 0px rgb(0 0 0 / 20%);*/
/*border-radius: 35px;*/
/*color: var(--chestnut);*/
/*}*/

.stc-inner .trade .stc-result {
    padding: 30px;
}
.stc-inner .trade .stc-result h4 {
    margin-bottom: 0;
}
.stc-inner .shopper-program .shopper-program-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   /* -webkit-box-pack: center;
    -ms-flex-pack: center;*/
   /* justify-content: center;*/
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
   /* -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;*/
    gap: 37px;
}

.stc-inner .shopper-program .shopper-program-inner .spi-card {
    max-width: 25%;
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 22.5%;
    flex: 0 0 22.5%;
    height: 211px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-shadow: 0px 3px 10px 0px rgb(0 0 0 / 20%);
    box-shadow: 0px 3px 10px 0px rgb(0 0 0 / 20%);
    border-radius: 35px;
}

.stc-inner .shopper-program .shopper-program-inner .spi-card h3 {
    font-size: 28px;
    font-weight: 600;
    color: var(--chestnut);
    line-height: 30px;
    text-transform: capitalize;
}

.stc-inner .shopper-program .shopper-program-inner .spi-card h3 a {
    color: var(--chestnut);
}

.stc-inner .reports .stc-result {
    padding: 30px;
    border: none;
}

.stc-inner .reports .stc-result p {
    font-size: 24px;
    font-weight: 600;
    color: var(--chestnut);
    line-height: 30px;
}

.no-match{
    font-size: 24px !important;
    font-weight: 600 !important;
    line-height: 30px !important;
    max-width: 800px !important;
    color: var(--chestnut) !important;
    text-align: left !important;
}
.kit-wrap .slider-counter,
.ain-wrap .slider-counter,
.news_wrap .slider-counter,
.trade-month-report-wrap .slider-counter,
.trade-month-report-wrap-sec .slider-counter {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 34px;
    font-family: 'HurmeGeometricSans4';
    color: var(--chestnut);
    display: none;
}


/* search page css end */


/*print css start*/

@media print {
    header {
        display: none;
    }
    .category .category-menu {
        display: none;
    }
    .back-btn {
        display: none;
    }
    .sdb-print-btn {
        display: none;
    }
    .supporting-doc-wrap {
        display: none;
    }
    .supporting-tabs-wrap {
        display: none;
    }
    footer .footer-list {
        display: none;
    }
    .copy-right {
        display: none;
    }
}

/*print css end*/